*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
    font-family: 'Fira Sans', sans-serif;
}
:root{
    --min-color: #fff;
    --sc-color: #3ec1d5;
    --th-color: #333;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 0.5rem;
    font-size: 66%;
}
.btn{
    display: inline-block;
    padding: 0.8rem 3.8rem;
    font-size: 1.8rem;
    border: 0.1rem solid var(--sc-color);
    outline: 0;
    background: var(--sc-color);
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    color: var(--min-color);
}
.btn:hover{
    background: none;
    color: var(--sc-color);
}
.heading{
    margin: 5rem auto;
    font-size: 3.5rem;
    text-align: center;
    color: var(--th-color);
}
.heading div{
    display: inline-block;
    border-bottom: 0.2rem solid var(--th-color);
    width: 15rem;
}
.heading div:hover{
    width: 25rem;
}
section{
    padding: 3rem 9%;
}
header{
    position: fixed;
    top: 0; right: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3%;
    background: rgba(10, 10, 9, 0.6);
    z-index: 1001;
}
header .logo{
    font-size: 3.5rem;
    color: var(--min-color);
    padding: 0.4rem;
}
header .navbar a{
    margin: 0 0.8rem;
    font-size: 1.9rem;
    color: var(--min-color);
    padding: 0.4rem ;
}
header .navbar a:hover,
header .fa-bars:hover{
    color: var(--sc-color);
}
header .fa-bars{
    font-size: 2.8rem;
    color: var(--min-color);
    cursor: pointer;
    display: none;

}



.row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30%,1fr));
    gap: 0.8rem;
    margin-top: 5rem;
}
.row .box{
    text-align: center;
    color: var(--th-color);
    padding: 4rem;
    border-radius: 0.8rem;
}
.row .box:hover{
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    background: #eee;
}
.row .box i{
    font-size: 5rem;
}
.row .box h3{
    font-size: 2.5rem;
    margin: 1.5rem 0;
}
.row .box p{
    font-size: 2rem;
}

/* media query  */

@media(max-width:850px){

    header .fa-bars{
        display: block;
    }
    header .navbar{
        position: fixed;
        /* */ top: 1000rem; left: 0; 
        text-align: center;
        background: rgba(10, 10, 9, 0.6);
        width: 100%;
    }
    header .navbar.active{
        top: 7.5rem;
    }
    header .navbar a{
        display: block;
        margin: 0.3rem 0;
        padding: 1rem;
        font-size: 2.6rem;
        color: var(--min-color);
    }
    header .navbar a:hover{
        background: var(--min-color);
    }
    .about .box{
        flex-wrap: wrap;
        text-align: center;
    }
    .about .box .image img{
        width: 90%;
    }
    .services .row{
    
        grid-template-columns: repeat(auto-fit,minmax(80%,1fr));
    }
    .blog .row{
        grid-template-columns: repeat(auto-fit,minmax(80%,1fr));
    }
    .contact .row{
        flex-flow: column;
    }
    .contact .row iframe{
        width: 100%;
    }
    .footer{

        grid-template-columns: repeat(auto-fit,minmax(40%,1fr));
    }
}
@media(max-width:550px){
    .portfolio .row{
        
        grid-template-columns: repeat(auto-fit,minmax(40%,1fr));
    }
}